<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2">Inicio</a></li>
                <li><a href="/nosotros" class="nav-link px-2">Sobre el proyecto</a></li>
                <li><a href="/mantenimiento" class="nav-link px-2">Mantenimiento</a></li>
            </ul>
            <div class="col-md-3 text-end">
                {{#if isAuthenticated}}
                <a href="/user_profile" class="btn btn-outline-primary me-2">Perfil</a>
                <a href="/datos" class="btn btn-outline-primary me-2">Datos</a>
                {{else}}
                <a href="/register" class="btn btn-outline-primary me-2">Registrarse</a>
                <a href="/login" class="btn btn-outline-primary me-2">Iniciar sesión</a>
                {{/if}}
            </div>
        </header>
    </div>
