<!DOCTYPE html>
<html lang="es" data-bs-theme="ligth">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chaleco Inteligente para Ciclistas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body> 
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2">Inicio</a></li>
                    <li><a href="/nosotros" class="nav-link px-2">Sobre el proyecto</a></li>
                    <li><a href="/mantenimiento" class="nav-link px-2">Mantenimiento</a></li>
                </ul>
    <div class="container">
        <div class="row py-lg-5">
            <div class="col-lg-8 mx-auto">
                <h1 class="fw-light">Características y Beneficios</h1>
                <p class="lead">Descubre cómo nuestro chaleco inteligente revoluciona la experiencia de ciclismo.</p>
                <ul class="list-unstyled">
                    <li class="mb-4">
                        <h3>Monitor de Frecuencia Cardiaca</h3>
                        <p>Permite a los ciclistas monitorear su frecuencia cardíaca en tiempo real para garantizar un ejercicio seguro y eficaz.</p>
                    </li>
                    <li class="mb-4">
                        <h3>GPS Integrado</h3>
                        <p>Proporciona navegación precisa y seguimiento de la ubicación del usuario, lo que permite planificar rutas seguras y eficientes.</p>
                    </li>
                    <li class="mb-4">
                        <h3>Botón de Emergencia</h3>
                        <p>Permite una comunicación rápida con contactos de emergencia en situaciones críticas, proporcionando una capa adicional de seguridad para el ciclista.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {{> container}}

</body>
</html>