<!DOCTYPE html>
<html lang="es" data-bs-theme="ligth">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sobre Nosotros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body> 
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2">Inicio</a></li>
                    <li><a href="/nosotros" class="nav-link px-2 link-secondary disabled">Sobre el proyecto</a></li>
                    <li><a href="/mantenimiento" class="nav-link px-2">Mantenimiento</a></li>
                </ul>
    <div class="container">
        <div class="row py-lg-5">
            <div class="col-lg-8 mx-auto">
                <h1 class="fw-light">Motivación del Proyecto</h1>
                <p class="lead">Nuestro proyecto surge de la necesidad de mejorar la experiencia de los ciclistas y hacer que sus salidas en bicicleta sean más seguras. Observamos que muchos ciclistas enfrentan dificultades para monitorear su salud y medir su progreso durante sus salidas. Por lo tanto, nos hemos propuesto desarrollar un chaleco inteligente que les permita tener un mejor control de su rendimiento y seguridad mientras están en la carretera.</p>
            </div>
        </div>
    </div>

    {{> container}}

</body>
</html>