<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="min-height: 100vh;">
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <div class="container">
          <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
              <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              </a>
            </div>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2">Inicio</a></li>
                <li><a href="/nosotros" class="nav-link px-2">Sobre el proyecto</a></li>
                <li><a href="/mantenimiento" class="nav-link px-2">Mantenimiento</a></li>
            </ul>
            <div class="col-md-3 text-end">
                {{#if isAuthenticated}}
                <a href="/user_profile" class="btn btn-outline-primary me-2">Perfil</a>
                <a href="/datos" class="btn btn-outline-primary me-2">Datos</a>
                {{else}}
                <a href="/register" class="btn btn-outline-primary me-2 disabled">Registrarse</a>
                <a href="/login" class="btn btn-outline-primary me-2">Iniciar sesión</a>
                {{/if}}
            </div>
        </header>
    </div>

          </header>
        </div>
    </div>
  
    <div class="container d-flex align-items-center justify-content-center py-4">
        <div class="shadow">
            <main class="border p-4 rounded bg-white">
                <h2 class="h3 mb-3 fw-normal text-center">Registro</h2>
                    <form action="/register" method="post">
                        <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="contacto de confianza" class="form-label">contacto de confianza (número)</label>
                        <input type="tel" class="form-control" id="contacto_de_confianza" name="contacto_de_confianza" required>
                    </div>
                    <div class="mb-3">
                        <label for="clave" class="form-label">Clave</label>
                        <input type="password" class="form-control" id="clave" name="clave" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="edad" class="form-label">Edad</label>
                            <input type="number" class="form-control" id="edad" name="edad" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="peso" class="form-label">Peso (kg)</label>
                            <input type="number" class="form-control" id="peso" name="peso" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="genero" class="form-label">Género</label>
                        <select class="form-select" id="genero" name="genero" required>
                            <option value="">Seleccione su género</option>
                            <option value="masculino">Masculino</option>
                            <option value="femenino">Femenino</option>
                            <option value="otro">Otro</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="estatura" class="form-label">Estatura (cm)</label>
                        <input type="number" class="form-control" id="estatura" name="estatura" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
            </main>
        </div>
    </div>    

    {{> container}}
    
</body>
</html>